/* BASE */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1.2;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "AvenirNextCy", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI";
  font-weight: 400;
  font-size: 23px;
  color: #ffffff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
svg {
  vertical-align: middle;
}

img {
  border: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.2;
  margin: 0;
}

a {
  text-decoration: none;
}

button,
input {
  overflow: visible;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  font-size: inherit;
  -webkit-box-shadow: 0 0 0 40px #ffffff inset;
          box-shadow: 0 0 0 40px #ffffff inset;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

p {
  margin: 0;
}

.page {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container--fluid {
  max-width: 1630px;
}

.title {
  font-size: 97px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: #000;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  padding: 0;
  cursor: pointer;
  color: #ffffff;
  background-color: transparent;
  border: none;
  line-height: 1;
  position: relative;
  overflow: hidden;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn:hover, .btn:focus, .btn:active {
  outline: none;
}

.btn--burger {
  display: none;
  border-radius: 50%;
  background-color: #ff2d18;
  width: 50px;
  height: 50px;
  -webkit-transition: background-color 0.15s ease-out;
  -o-transition: background-color 0.15s ease-out;
  transition: background-color 0.15s ease-out;
}

.btn--burger span {
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: calc(50% - 15px);
}

.btn--burger span:nth-child(1) {
  top: 15px;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  -o-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.btn--burger span:nth-child(2) {
  top: 24px;
  -webkit-transition: opacity 0.15s ease-out;
  -o-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
}

.btn--burger span:nth-child(3) {
  top: 33px;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  -o-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.btn--burger.active {
  background-color: transparent;
}

.btn--burger.active span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  left: calc(50% - 10px);
}

.btn--burger.active span:nth-child(2) {
  opacity: 0;
}

.btn--burger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  left: calc(50% - 10px);
}

.btn--more {
  background-color: #000;
  padding: 14px 20px;
  border-radius: 30px;
  letter-spacing: 0.03em;
}

.btn--more:hover {
  -webkit-box-shadow: inset 0 0 6px 0px white;
          box-shadow: inset 0 0 6px 0px white;
  color: #fcfcfc;
}

.stop-scroll {
  overflow: hidden;
}

.triangle-btn {
  position: absolute;
  width: 100%;
  z-index: 3;
  min-height: 27px;
  margin-bottom: 50px;
  bottom: 0;
  left: 0;
  color: #fff;
}

.triangle-btn:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-top: 35px solid #ff2d18;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  bottom: calc(-100% - 10px);
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.triangle-btn--mob {
  display: none;
}

/* HEADER */
.header {
  position: absolute;
  width: 100%;
  z-index: 19;
  padding-top: 42px;
}

.header.active {
  background-color: #006278;
}

.header--dark.active {
  background-color: #38adc7;
}

.header--dark .navbar__link {
  color: #000;
}

.navbar__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
  text-align: center;
}

.navbar__link {
  margin: 0 4px;
  font-size: 28px;
  color: #fff;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  position: relative;
}

.navbar__link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: #6d6d6d;
  -webkit-transition: width .2s linear;
  -o-transition: width .2s linear;
  transition: width .2s linear;
}

.navbar__link:hover::after {
  width: 80%;
}

.navbar__link.active::after {
  width: 80%;
}

/* INTRO */
.intro {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 500px;
}

.intro__btn,
.intro__title {
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  width: 100%;
}

.intro__title {
  padding: 0 15px;
  font-size: 107px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  margin: 40px 0 0;
  pointer-events: none;
}

.intro__title span {
  color: #ff2d18;
}

.intro__slider {
  height: 100%;
}

.intro__inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.intro__video {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

.intro__video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

/* ABOUT */
.about {
  color: #000;
  padding: 100px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(var(--vh, 1vh) * 100);
}

.about__sub-title {
  font-size: 27px;
  text-align: center;
  margin: 10px auto 70px;
  max-width: 900px;
  font-weight: 700;
}

.about__text {
  font-size: 22px;
  margin-bottom: 5px;
}

.about__title {
  font-size: 107px;
}

/* PORTFOLIO */
.portfolio {
  position: relative;
}

.portfolio--section .portfolio__title {
  margin-bottom: 60px;
}

.portfolio--section .container--fluid {
  padding-top: 40px;
  padding-bottom: 40px;
}

.portfolio--page .portfolio__bg {
  width: 105%;
  top: 0;
  background-position: center top;
}

.portfolio--page .portfolio__items {
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.portfolio__bg {
  background-image: url(../img/gradient.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -50%;
  right: 0;
  width: 100%;
  height: 150%;
  overflow: hidden;
  z-index: -1;
}

.portfolio__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.portfolio__item {
  position: relative;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.portfolio__item:hover .portfolio__descr {
  color: #c5c5c5;
}

.portfolio__item.active .portfolio__play,
.portfolio__item.active .portfolio__info {
  display: none;
}

.portfolio__play {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  cursor: pointer;
}

.portfolio__info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  z-index: 4;
  color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px 20px;
}

.portfolio__info::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.portfolio__name {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 20px;
}

.portfolio__descr {
  font-size: 18px;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.portfolio__iframe {
  position: relative;
  width: 100%;
  padding-top: 69%;
  background-color: #000;
  z-index: 2;
}

.video-frame {
  border: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.portfolio__more-btn {
  text-align: center;
  margin: 30px 0 0;
}

.portfolio__head {
  min-height: 500px;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

/* CONTACTS */
.contacts__title {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}

.contacts__items {
  position: relative;
  padding-right: 170px;
  font-size: 20px;
  color: #000;
}

.contacts__address {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.contacts__address-action {
  color: #000;
  padding-bottom: 10px;
}

.contacts__address-name {
  font-weight: 700;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 5px 10px 0;
}

a.contacts__address-action {
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

a.contacts__address-action:hover {
  color: #454545;
}

.contacts__logo {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 160px;
  width: 100%;
  height: auto;
}

.contacts__logo img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* FOTER */
.footer {
  padding: 40px 0;
  background-color: #fff;
}

/* RESPONSIVE */
@media screen and (max-width: 1024px) {
  .title {
    font-size: 77px;
  }
  .navbar__link {
    font-size: 24px;
  }
  .intro__title,
  .about__title {
    font-size: 87px;
  }
  .about__sub-title {
    font-size: 22px;
    margin-bottom: 50px;
  }
  .about__text {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .triangle-btn {
    margin-bottom: 40px;
    min-height: 24px;
  }
  .triangle-btn::after {
    border-top-width: 25px;
    border-left-width: 25px;
    border-right-width: 25px;
    bottom: calc(-100% - 5px);
  }
  .triangle-btn--mob {
    display: block;
  }
  .btn--more {
    font-size: 18px;
  }
  .title {
    font-size: 37px;
  }
  .btn--burger {
    display: inline-block;
  }
  .navbar {
    display: none;
  }
  .header {
    position: fixed;
    text-align: right;
    padding-top: 20px;
    overflow: auto;
  }
  .header.active {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
  .header.active .navbar {
    margin: 50px -15px 0;
    width: 100%;
    height: calc(100% - 70px);
    display: block;
    position: absolute;
  }
  .navbar__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar__item {
    max-width: initial;
    -webkit-box-flex: initial;
    -webkit-flex: initial;
        -ms-flex: initial;
            flex: initial;
  }
  .navbar__item,
  .navbar__item + .navbar__item {
    margin: 0 0 20px;
  }
  .navbar__link {
    font-size: 20px;
  }
  .intro__title,
  .about__title {
    font-size: 47px;
  }
  .intro__btn {
    font-size: 20px;
  }
  .about {
    padding: 50px 0;
  }
  .about__sub-title {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .about__text {
    font-size: 16px;
  }
  .portfolio--section .portfolio__title {
    margin-bottom: 30px;
  }
  .portfolio--section .portfolio__items {
    margin: 0 -15px;
  }
  .portfolio__bg {
    background-image: url(../img/gradient-mob.jpg);
    background-size: 100% 100%;
  }
  .portfolio__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .portfolio__name {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .portfolio__descr {
    font-size: 14px;
  }
  .contacts__title {
    font-size: 25px;
  }
  .contacts__logo {
    max-width: 100px;
  }
  .contacts__items {
    padding-right: 105px;
    font-size: 18px;
  }
  .contacts__address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer {
    padding: 20px 0;
  }
}

@media screen and (max-width: 380px) {
  .container {
    padding: 0 10px;
  }
  .title {
    font-size: 27px;
  }
  .about__title,
  .intro__title {
    font-size: 34px;
  }
  .portfolio__name {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .portfolio__descr {
    font-size: 12px;
  }
  .contacts__title {
    font-size: 23px;
  }
  .contacts__items {
    font-size: 15px;
  }
}
